html {
  height: 100%;
}

#TABLE {
  height: 100%;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  overflow-y: auto;
}

body {
  background: linear-gradient(
    75deg,
    rgb(206, 217, 228),
    rgba(205, 240, 240, 0.788)
  );
  height: 100%;
}
section {
  background: linear-gradient(45deg, rgb(217, 236, 208), rgb(169, 224, 180));
  margin: 0%;
}
table {
  background: rgba(255, 255, 255, 0.671);
  margin: 0%;
}

h1 {
  background-color: rgb(122, 236, 236);
}
p {
  background-color: rgb(137, 151, 228);
}
#il ul li {
  display: inline;
}

#SCROLL {
  height: 150px;
  width: 95%;
  overflow-y: scroll;
}

iframe {
  height: 525px;
  width: 100%;
}
