html {
  height: 100%;
}

body {
  background: linear-gradient(
    75deg,
    rgb(217, 236, 247),
    rgba(139, 202, 202, 0.856)
  );
  height: 100%;
}

section {
  background: linear-gradient(45deg, rgb(241, 252, 237), rgb(150, 247, 130));
  margin: 0%;
}

h1 {
  background-color: rgb(62, 219, 224);
}
p {
  background-color: rgb(91, 180, 243);
}
p.answer {
  border-style: outset;
  border-width: 6.5px;
  background: linear-gradient(
    75deg,
    rgb(217, 236, 247),
    rgba(139, 202, 202, 0.856)
  );
}
iframe {
  display: block;
  margin: auto;
  height: 500px;
  width: 95%;
}
